html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 62.5%;
    color: #333;
}
h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
.page {
    width: 100%;
    height: 100%;
}

.content {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5em;
}
.msg-list {
    margin: 0;
    padding: 0;
}
.msg-list li {
    border-bottom: 1px solid #ccc;
}
.msg-list .avatar {
    position: absolute;
    margin-top: 1em;
    display: none;
}
.msg-list .msg {
    width: 100%;
}
.msg-list .preview {
    margin-bottom: 0.5em;
}
.msg-list .name {
    line-height: 3em;
    font-size: 2.4em;
    font-weight: bold;
}
.msg-list .time {
    float: right;
    font-weight: normal;
    font-size: .5em;
}


.footer {
    height: 8vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
}
