html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 62.5%;
    color: #333;
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* 解决a标签按下时出现蓝色边框 */
}
h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.page {
    width: 100%;
    height: 100%;
}

.content {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
}
.msg-list {
    margin: 0;
    padding: 0;
}
.msg-list li {
    border-bottom: 1px solid #ccc;
    position: relative;
    height: 50px;
    padding: 10px;
}
.msg-list li:active {
    background-color: lightgrey;
}
.msg-list .avatar {
    position: absolute;
    width: 50px;
}
.msg-list .msg {
    overflow: hidden;
    margin-left: 56px;
}
.msg-list .preview {
    margin-top: 3px;
    font-size: 12px;
    color: #777;
}
.msg-list .name {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.msg-list .time {
    float: right;
    font-weight: normal;
    font-size: .5em;
}


.footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
}

.tag {
    height: 100%;
}
.tag li {
    float: left;
    height: 100%;
    width: 25%;
}
.tag a {
    font-size: 24px;
    text-decoration: none;
    display: block;
    color: #333;
    text-align: center;
    line-height: 18px;
    margin-top: 4px;
}
.tag .active {
    color: green;
}
.tag .icon {
    display: block;
}
.tag .tag-name {
    font-size: 16px;
}
